<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/product/inventory.css'>

</head>

<body>
    <div th:replace="~{/sidebar.html:: sidebar}"></div>
    <div class="inventoryArea">
        <div>
            <h3> 재고 관리 페이지 </h3>
        </div>
        <div>
            제품명
        </div>
        <div>
            성별
        </div>
        <div>
            사이즈
        </div>
    </div>


    <script src='/js/product/inventory.js'></script>
</body>

</html>