<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/product/productgetall.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{/sidebar.html:: sidebar}"></div>
    <div id="main">
        <div class="wrap">
        <h1>상품 목록</h1>
        <div class="searchBox">
            <table class="searchTable table">
                <colgroup>
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="35%">
                </colgroup>
                <tbody>
                <tr>
                    <th> 상품 등록일 </th>
                    <td colspan="5">
                        <div class="dateBox" id="prodDate">
                            <button type="button" class="btn btn-success btn-sm" onclick="changeDate(0)"> 오늘 </button>
                            <button type="button" class="btn btn-success btn-sm" onclick="changeDate(3)"> 3일 </button>
                            <button type="button" class="btn btn-success btn-sm" onclick="changeDate(7)"> 1주일 </button>
                            <button type="button" class="btn btn-success btn-sm" onclick="changeDate(30)"> 1개월 </button>
                            <button type="button" class="btn btn-success btn-sm" onclick="changeDate(90)"> 3개월 </button>
                            <input type="date" class="startDate"/>
                            <input type="date" class="endDate"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th> 상품 가격 </th>
                    <td colspan="5">
                        <div class="dateBox" id="prodPrice">  <!--08.13-->
                            <input type="number"  placeholder="0" class="minPrice"/>
                            <span>~</span>
                            <input type="number"  placeholder="999999999" class="maxPrice"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th> 카테고리 </th>
                    <td>
                        <select class="supstateBox" id="prodCatecode">  <!--08.13-->
                        </select>
                    </td>
                    <th> 색상 </th>
                    <td>
                        <select class="supcodeBox" id="colorCode">  <!--08.13-->
                        </select>
                    </td>
                    <th> 사이즈 </th>
                    <td>
                        <select class="supcodeBox" id="prodSize">   <!--08.13-->
                            <option value=""> 전체 </option>
                            <option value="S"> S </option>
                            <option value="M"> M </option>
                            <option value="L"> L </option>
                            <option value="XL"> XL </option>
                            <option value="2XL"> 2XL </option>
                            <option value="3XL"> 3XL </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th> 성별 </th>
                    <td>
                        <select class="supcodeBox" id="prodGender"> <!--08.13-->
                            <option value=""> 전체 </option>
                            <option value="M"> 남성 </option>
                            <option value="F"> 여성 </option>
                            <option value="U"> 유니섹스 </option>
                        </select>
                    </td>
                    <th> 상품명 </th>
                    <td>
                        <input type="text" class="form-text searchKeyword" id="searchKeyword"/> <!--08.13-->
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="btnBox">
                <button class="searchBtn btn btn-success" type="button" onclick="onSearch()"> 검색 </button>
            </div>
            <div id="excel">
                <button type="button" onclick="excelDown()">엑셀파일</button>
            </div>
        </div> <!-- searchBox end -->
        <table class="productList table">
            <thead>
                <tr>
                    <th> 상품코드 </th>
                    <th> 상품명 </th>
                    <th> 상품가격 </th>
                    <th> 상품성별 </th>
                    <th> 카테고리 </th>
                    <th> 색상 </th>
                    <th> 사이즈 </th>
                    <th> 상품등록일 </th>
                    <th> 이미지파일 </th>
                    <th> 수정/삭제 </th>
                </tr>
            </thead>
            <tbody class="productPrint">
            </tbody>
        </table>
        </div>
    </div>
    <script src="/js/product/productgetall.js"></script>
</body>
</html>