<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 등록</title>
    <link href="/css/product/productadd.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" />
</head>
<body>
<div th:replace="~{/sidebar.html:: sidebar}"></div>
<div id="main">
    <div id="title">
        <span>상품등록</span>
    </div>
    <form id="productAdd">
        <div class="form-container">
            <div class="form-group">
                <label for="productName">상품명</label>
                <input type="text" id="productName" name="prodName" required>
            </div>
            <div class="form-group">
                <label for="productPrice">상품가격</label>
                <input type="number" id="productPrice" name="prodPrice" required>
            </div>
            <div class="form-group">
                <label for="gender">성별</label>
                <select id="gender" name="prodGender" required>
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="U">U</option>
                </select>
            </div>
            <div class="form-group">
                <label for="summernote">상품설명</label>
                <textarea class="form-control prodDesc" id="summernote" name="prodDesc" required></textarea>
            </div>
            <div class="form-group">
                <label for="productSize">상품사이즈</label>
                <select id="productSize" name="prodSize" required>
                    <option value="S"> S </option>
                    <option value="M"> M </option>
                    <option value="L"> L </option>
                    <option value="XL"> XL </option>
                    <option value="XXL"> XXL </option>
                </select>
            </div>
            <div class="form-group">
                <label for="registrationDate">등록날짜</label>
                <input type="date" id="registrationDate" name="prodDate" required>
            </div>
            <div class="form-group">
                <label for="productColor">상품색깔</label>
                <select id="productColor" name="colorCode" required>
                    <!-- 추가 색상 옵션들 -->
                </select>
            </div>
            <div class="form-group">
                <label for="productCategory">상품카테고리</label>
                <select id="productCategory" name="prodCatecode" required>
                    <!-- 추가 카테고리 옵션들 -->
                </select>
            </div>
            <div class="form-group">
                <label for="productImage">첨부파일</label>
                <input type="file" id="productImage" name="uploadFile">
            </div>
        </div>
        <div class="form-group submit-button">
            <button class="searchBtn btn btn-success" type="button" onclick="productAdd()">등록하기</button>
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ko-KR.min.js"></script>
    <script src="/js/product/productadd.js"></script>
</div>
</body>
</html>
