<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품색상크기별조회</title>

    <!-- CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/sales/colorsize.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{/sidebar.html:: sidebar}"></div>
    <div id="main">
        <div class="wrap">
            <div id="title">
                <span>상품색상크기별조회</span>
            </div>
            <div class="searchBox">
                <table class="searchTable table">
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="15%">
                        <col width="10%">
                        <col width="10%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>
                                <div id="total" onclick="location.href='/sales/product/total'">
                                    연간판매상품조회
                                </div>
                            </th>
                            <th>
                                <div id="yearly" onclick="location.href='/sales/product/yearly'">
                                    월간판매상품조회
                                </div>
                            </th>
                            <th>
                                <div id="monthly" onclick="location.href='/sales/product/monthly'">
                                    일간판매상품조회
                                </div>
                            </th>
                            <th>
                                <div class="categoryActive" id="colorSize" onclick="location.href='/sales/colorsize'">
                                    상품색상크기별조회
                                </div>
                            </th>
                            <tr>
                                <th> 상세조건  </th>
                                <div class="dateBox">
                                </div>
                                    <th> 조회기간 </th>
                                    <td colspan="1"> <input type="date" value="2021-01-01" class="startDate"/> </td>
                                    <td colspan="1"> <input type="date" value="2022-01-01" class="endDate"/> </td>
                                    <td colspan="1"> <button type="button" class="btn btn-success btn-sm" ONCLICK="getColorSizeTable()"> 조회 </button> </td>
                            </tr>
                        </tr>
                        <tr>
                        </tr>
                    <tbody>
                </table> <!--SearchTable end-->
            </div> <!--serachBox end-->

            <button type="button" class="btn btn-success mb-3" onclick="excelExport()">엑셀로 다운받기</button>
            <div class="table-wrapper">
                <table class="table">
                    <thead class="dataBoxHead">
                        <tr>   
                            <th>제품코드</th>
                            <th>제품명</th>
                            <th>색상</th>
                            <th>실주문상품수</th>
                            <th>[사이즈] S</th>
                            <th>[사이즈] M</th>
                            <th>[사이즈] L</th>
                            <th>[사이즈] XL</th>
                            <th>[사이즈] XXL</th>
                        </tr>
                    </thead>
                    <tbody id="tablePrintBox">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="/js/sales/colorsize.js"></script>
</body>
</html>

