<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>연매출조회</title>

    <!-- CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/sales/total.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{/sidebar.html:: sidebar}"></div>
    <div id="main">
        <div class="wrap">
            <div id="title">
                <span>매출조회</span>
            </div>
            <div class="searchBox">
                <table class="searchTable table">
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="15%">
                        <col width="10%">
                        <col width="10%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>
                                <div class="categoryActive" id="total" onclick="location.href='/sales/total'">
                                    연매출조회
                                </div>
                            </th>
                            <th>
                                <div id="yearly" onclick="location.href='/sales/yearly'">
                                    월간매출조회
                                </div>
                            </th>
                            <th>
                                <div id="monthly" onclick="location.href='/sales/monthly'">
                                    일간매출조회
                                </div>
                            </th>
                            <th>
                                <div id="monthly" onclick="location.href='/sales/coupon'">
                                    쿠폰코드별조회
                                </div>
                            </th>
                        </tr>
                        <tr>
                        </tr>
                    <tbody>
                </table> <!--SearchTable end-->
            </div> <!--serachBox end-->
            <!-- 차트 -->
            <div class="row d-flex" id="chartBox">
                <div class="col-4 px-1">
                    <div style="width: 100%; height: 100%;"><canvas id="revenueChart"></canvas></div>
                </div>
                <div class="col-4 px-1">
                    <div style="width: 100%; height: 100%;"><canvas id="saleAmountChart"></canvas></div>
                </div>
                <div class="col-4 px-1">
                    <div style="width: 100%; height: 100%;"><canvas id="incomeChart"></canvas></div>
                </div>
                
            </div>
            <!-- /차트 -->
            <button type="button" class="btn btn-success mb-3" onclick="excelExport()">엑셀로 다운받기</button>
            <div class="table-wrapper">
                <table class="table">
                    <thead class="dataBoxHead">
                        <tr>   
                            <th>연도</th>
                            <th>주문건수</th>
                            <th>주문상품수</th>
                            <th>반품건수</th>
                            <th>취소건수</th>
                            <th>실주문상품수</th>
                            <th>총매출금액</th>
                            <th>할인금액</th>
                            <th>실매출금액</th>
                        </tr>
                    </thead>
                    <tbody id="tablePrintBox">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="/js/sales/total.js"></script>
</body>
</html>

