<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>연매출분석</title>

    <!-- TODO -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/sales/yearly.css" rel="stylesheet">
</head>
<body>
    <div th:replace="~{/sidebar.html:: sidebar}"></div>
    <div class="container" id="wrap">
        <div class="row d-flex p-2" id="topMenu">
            <div class="col-4" id="yearly">
                연매출조회
            </div>
            <div class="col-4" id="monthly">
                월간매출조회
            </div>
        </div>

        <div class="searchBox">
            <table class="searchTable table">
                <colgroup>
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="13%">
                    <col width="35%">
                </colgroup>
                <tbody> 
                    <tr> 
                        <th> 문의 접수일 </th> 
                        <td colspan="5"> 
                            <div class="dateBox">
                                <button type="button" class="btn btn-success btn-sm" onclick="changeDate(0)"> 오늘 </button>
                                <button type="button" class="btn btn-success btn-sm" onclick="changeDate(3)"> 3일 </button>
                                <button type="button" class="btn btn-success btn-sm" onclick="changeDate(7)"> 1주일 </button>
                                <button type="button" class="btn btn-success btn-sm" onclick="changeDate(30)"> 1개월 </button>
                                <button type="button" class="btn btn-success btn-sm" onclick="changeDate(90)"> 3개월 </button>         
                                <input type="date" class="startDate"/>
                                <input type="date" class="endDate"/>
                            </div>
                        </td>
                    </tr>
                    <tr> 
                        <th> 처리 상태 </th> 
                            <td> 
                                <select class="supstateBox"> 
                                    <option value="0"> 전체 </option>
                                    <option value="1"> 상담전 </option>
                                    <option value="2"> 진행중 </option>
                                    <option value="3"> 상담완료 </option>
                                </select> 
                            </td> 
                        <th> 문의 유형 </th> 
                            <td> 
                                <select class="supcodeBox"> 
                                    <option value="0"> 전체 </option>
                                    <option value="1"> 반품문의 </option>
                                    <option value="2"> 상품문의 </option>
                                    <option value="3"> 배송문의 </option>
                                    <option value="4"> 회원문의 </option>
                                    <option value="5"> 기타 </option>
                                </select>     
                            </td> 
                        <th> 상세검색 </th> 
                            <td> 
                                <select class="searchKey"> 
                                    <option value=""> 선택 </option>
                                    <option value="memname"> 질문자명 </option>
                                    <option value="ordcode"> 주문번호 </option>
                                </select> 
                                <input type="text" class="form-text searchKeyword"/>
                            </td>
                    </tr>
                </tbody>
            </table>
            <div class="btnBox">
                <button class="btn btn-success" type="button" onclick="onSearch()"> 검색 </button>                        
            </div>
        </div> <!-- searchBox end -->
        <div> <!-- 상담목록 -->
            <div class="ref">
                <span> * 문의제목을 클릭하시면 상세한 문의내역을 확인할 수 있습니다. </span>
            </div>
            <div class="table-wrapper">
                <table class="dataBox table">
                    <thead class="dataBoxHead">
                        <tr>
                            <th> 상담코드 </th>
                            <th> 접수일 </th>
                            <th> 처리상태 </th>
                            <th> 주문번호 </th>
                            <th> 문의유형 </th>
                            <th> 문의제목 </th>
                            <th> 작성자명 </th>
                        </tr>
                    </thead>
                    <tbody class="supportPrintBox">
                        
                    </tbody>
                </table>
            </div>
        </div>  <!-- 상담목록 출력 end -->
    </div>
    <!--TODO-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="/js/sales/yearly.js"></script>
</body>
</html>

