.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/gradle.xml
/.idea/misc.xml
/.idea/workspace.xml
/.idea/vcs.xml

/.idea/shelf/24__8__1___5_54__________.xml
/.idea/shelf/24__8__1___6_04__________.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/shelf/24__8__1__오후_5_54,_병합_전에_커밋되지_않은_변경_내용_[변경]/shelved.patch
/.idea/shelf/24__8__1__오후_6_04,_업데이트_전에_커밋되지_않은_변경_내용_[변경]/shelved.patch
/.idea/shelf/24__8__1__오후_6_04,_업데이트_전에_커밋되지_않은_변경_내용_[변경]1/shelved.patch
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/gradle.xml
