<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/support/support.css" rel="stylesheet">
<title>Title</title>
</head>
<body>
    <div th:replace="~{/sidebar.html:: sidebar}"></div>
    <div id="main">
        <div id="title">
            <span>고객문의관리</span>
        </div>
        <div>
            <h3>상담목록</h3>
            <table>
                <thead>
                    <tr>
                        <td> 상담코드 </td> <td> 작성자 </td> <td> 문의유형 </td> <td> 문의제목 </td> <td> 작성일 </td> <td> 상담상태 </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 상담코드 </td> <td> 작성자 </td> <td> 문의유형 </td> <td> 문의제목 </td> <td> 작성일 </td> <td> 상담상태 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- JS -->
    <script src="/js/support/support.js"></script>
</body>
</html>