<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/support/support.css" rel="stylesheet">
<title>Title</title>
</head>
<body>
    <div th:replace="~{/sidebar.html:: sidebar}"></div>
    <div id="main">
        <div class="wrap">
            <div id="title">
                <span>고객문의관리</span>
            </div>
            <div class="searchBox">
                <table class="searchTable">
                    <colgroup>
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="35%">
                    </colgroup>
                    <tbody> 
                        <tr> 
                            <th> 문의 접수일 </th> 
                            <td colspan="5"> 
                                <div class="dateBox">
                                    <button type="button"> 오늘 </button>
                                    <button type="button"> 3일 </button>
                                    <button type="button"> 1주일 </button>
                                    <button type="button"> 1개월 </button>
                                    <button type="button"> 3개월 </button>         
                                    <input type="date" />
                                    <input type="date" />
                                </div>
                                
                            </td>
                        </tr>
                        <tr> 
                            <th> 처리 상태 </th> 
                                <td> 
                                    <select> 
                                        <option value="0"> 전체 </option>
                                        <option value="1"> 상담전 </option>
                                        <option value="2"> 진행중 </option>
                                        <option value="3"> 상담완료 </option>
                                    </select> 
                                </td> 
                            <th> 문의 유형 </th> 
                                <td> 
                                    <select> 
                                        <option value="0"> 전체 </option>
                                        <option value="1"> 반품문의 </option>
                                        <option value="2"> 상품문의 </option>
                                        <option value="3"> 배송문의 </option>
                                        <option value="4"> 회원문의 </option>
                                        <option value="5"> 기타 </option>
                                    </select>     
                                </td> 
                            <th> 상세검색 </th> 
                                <td> 
                                    <select> 
                                        <option value=""> 선택 </option>
                                        <option value="memname"> 질문자명 </option>
                                        <option value="orddetailcode"> 주문번호 </option>
                                    </select> 
                                    <input type="text"/>
                                </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnBox">
                    <button class="searchBtn" type="button" onclick="supAllread()"> 검색 </button>                        
                </div>
            </div> <!-- searchBox end -->
            <div style="overflow-y:hidden; width:100%;">
                <table class="dataBox">
                    <thead>
                        <tr>
                            <th> 상담코드 </th>
                            <th> 접수일 </th>
                            <th> 처리상태 </th>
                            <th> 문의유형 </th>
                            <th> 문의제목 </th>
                            <th> 작성자명 </th>
                        </tr>
                    </thead>
                    <tbody class="supportPrintBox">
                        <tr>
                            <td> 1 </td>
                            <td> 2024-08-05 </td>
                            <td> 상담완료 </td>
                            <td> 배송문의 </td>
                            <td> 배송 언제쯤 될까요? </td>
                            <td> 양재연 </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div> <!-- wrap end -->
    </div> <!-- main end -->
    <!-- JS -->
    <script src="/js/support/support.js"></script>
</body>
</html>