<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/support/support.css" rel="stylesheet">
<title>Title</title>
</head>
<body>
    <div th:replace="~{/sidebar.html:: sidebar}"></div>
    <div id="main">
        <div class="wrap">
            <div id="title">
                <span>고객문의관리</span>
            </div>
            <div class="searchBox">
                <table class="searchTable table">
                    <colgroup>
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="13%">
                        <col width="35%">
                    </colgroup>
                    <tbody> 
                        <tr> 
                            <th> 문의 접수일 </th> 
                            <td colspan="5"> 
                                <div class="dateBox">
                                    <button type="button" class="btn btn-success btn-sm" onclick="changeDate(0)"> 오늘 </button>
                                    <button type="button" class="btn btn-success btn-sm" onclick="changeDate(3)"> 3일 </button>
                                    <button type="button" class="btn btn-success btn-sm" onclick="changeDate(7)"> 1주일 </button>
                                    <button type="button" class="btn btn-success btn-sm" onclick="changeDate(30)"> 1개월 </button>
                                    <button type="button" class="btn btn-success btn-sm" onclick="changeDate(90)"> 3개월 </button>         
                                    <input type="date" class="startDate"/>
                                    <input type="date" class="endDate"/>
                                </div>
                            </td>
                        </tr>
                        <tr> 
                            <th> 처리 상태 </th> 
                                <td> 
                                    <select class="supstateBox"> 
                                        <option value="0"> 전체 </option>
                                        <option value="1"> 상담전 </option>
                                        <option value="2"> 진행중 </option>
                                        <option value="3"> 상담완료 </option>
                                    </select> 
                                </td> 
                            <th> 문의 유형 </th> 
                                <td> 
                                    <select class="supcodeBox"> 
                                        <option value="0"> 전체 </option>
                                        <option value="1"> 반품문의 </option>
                                        <option value="2"> 상품문의 </option>
                                        <option value="3"> 배송문의 </option>
                                        <option value="4"> 회원문의 </option>
                                        <option value="5"> 기타 </option>
                                    </select>     
                                </td> 
                            <th> 상세검색 </th> 
                                <td> 
                                    <select class="searchKey"> 
                                        <option value=""> 선택 </option>
                                        <option value="memname"> 질문자명 </option>
                                        <option value="ordcode"> 주문번호 </option>
                                    </select> 
                                    <input type="text" class="form-text searchKeyword"/>
                                </td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnBox">
                    <button class="btn btn-success" type="button" onclick="onSearch()"> 검색 </button>                        
                </div>
            </div> <!-- searchBox end -->
            <div> <!-- 상담목록 -->
                <div class="ref">
                    <span> * 문의제목을 클릭하시면 상세한 문의내역을 확인할 수 있습니다. </span>
                </div>
                <div class="table-wrapper">
                    <table class="dataBox table">
                        <thead class="dataBoxHead">
                            <tr>
                                <th> 상담코드 </th>
                                <th> 접수일 </th>
                                <th> 처리상태 </th>
                                <th> 주문번호 </th>
                                <th> 문의유형 </th>
                                <th> 문의제목 </th>
                                <th> 작성자명 </th>
                            </tr>
                        </thead>
                        <tbody class="supportPrintBox">
                            
                        </tbody>
                    </table>
                </div>
            </div>  <!-- 상담목록 출력 end -->
            
            <!-- 상담 상세 출력 Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">|고객문의내용보기</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="supDtailPrintBox"> 

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div> <!-- Modal end -->

        </div> <!-- wrap end -->
    </div> <!-- main end -->
    <!-- JS -->
    <script src="/js/support/support.js"></script>
</body>
</html>