.dataBox a{
    color: black;
    text-decoration: none;
}
.wrap{
    margin: 30px;
}
#title{
    border-bottom: 3px solid black;
    margin-top: 20px;
}
#title > span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}
.wrap .searchTable th{
    padding: 11px 16px 9px;
}
.wrap .searchTable td{
    padding: 11px 16px 9px;
}
.wrap > table select{
    width: 86px;
    height: 16px;
}
.searchTable{
    width: 100%;
    height: 100px;
    border: 1px solid #eeeeee;
    text-align: center;
}
.searchTable input{
    width: 174px;
    height: 20px;
}
.btnBox{
    text-align: center;
    margin-top: 20px;
}
.ref{
    margin-top: 20px;
}
.dataBox{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.dateBox{
    display: flex;
}
.dateBox button{
    margin: 0px 2px;
}
.dateBox input{
    margin: 0px 2px;
}
.dataBox thead th{
    position : sticky; top: 0;
}
.supportPrintBox{
    width: 100%; 
    overflow: auto;
    height: 200px;
}
.supDtailBox{
    width: 100%;
}
.supDtailContent span{
    font-size: 15px;
    font-weight: bold;
}
.supDtailContent > div{
    border-bottom: 1px solid #eeeeee;
}
.replyBtn {
    text-align: center; /* 가운데 정렬 */
    margin-top: 10px; /* 버튼 상단 여백 */
}
.replyBtn .btn {
    margin: 5px; /* 버튼 사이에 여백 */
}
.replycontentBox{
    width: 100%;
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* 기본 회색 배경 */
}