<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>FashionManager</title>
    <link href="/css/main.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href='/css/index.css'>
</head>

<body>
    <div th:replace="~{/sidebar.html:: sidebar}"></div>
    <div id="main">
        <div class="wrap">
            <img src="/image/로그인페이지.png" class="logoimg"/>
        </div>
        <div>
            <iframe width="100%" height="800px" src="https://www.youtube.com/embed/kOZyThhER3o?si=2tEeJmmkT7WX_F75" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    
    <script src="/js/index.js"></script>

</body>

</html>