body {
    
    background-color: #f4f4f9;
}

#main {
    max-width: 100%;
    margin-left: 250px;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}

label {
    flex: 1;
    text-align: left;
    margin-left: 30px;
    align-self: center;
}

input, select, textarea {
    flex: 2;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #ffffff;
}

textarea {
    resize: vertical;
}

.submit-button {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 30px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}
*{
    list-style-type: none;  /* 글머리 제거 */
    font-size : 13px;
    font-family: "Nanum Gothic Coding", monospace;
}
.nanum-gothic-coding-regular {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}
#title{
    border-bottom: 3px solid black;
    margin-top: 20px;
}
#title > span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}